@import './styles/global.css';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.left-column {
  order: 1;
}

.right-column {
  order: 2;
}

@media (max-width: 992px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  
  .left-column {
    order: 2;
  }
  
  .right-column {
    order: 1;
  }
}